//out:../css/core.css,compress:true
@import "mixins_lib.less";
[data-module-fill="core"].unloaded{
  display:none;
}
[data-module-fill="core"], [data-module-fill="core"] #core, [data-module-fill="core"] div {
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    display:block;
}
[data-module-fill="core"], [data-module-fill="core"] #core {
  display:flex !important;
}
[data-module-fill="core"]{
  min-height:600px;
  #core{
    flex-direction:column;
    min-width:100%;
  }
  /*CORE*/
  .panel_line {
      white-space:nowrap;
      overflow:hidden auto;
      width:100%;
      display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
  }
  .panel_line:first-of-type{
    flex-grow:10;
    .panel{
      width:50% !important;
    }
  }
  .panel {
      height:100%;
      width:inherit;
      white-space:normal;
      padding:10px;
  	display:inline-block;
  }
  /*DVP*/
  #DVP {
  	min-width:200px;
    .sample_data{
      display:none;
    }
    .results>div{
      padding:8px;
      div{
        margin:2px 2px 5px;
        padding:10px 0;
      }
    }
    .results{
      font-weight: bold;
      display:flex;
      .chart{
        flex-grow:10;
        padding-right:5px;
      }
      .chart div:before{
        position:relative;
        display:block;
        width:100%;
        content:attr(data-text-content);
        padding:0 10px;
        text-shadow:0 0 15px #fff;
      }
    }
  }
  .question:before {
      font-size:12px;
  	height:42px;
  	display:table-cell;
  	vertical-align:bottom;
      padding:7px 0px 7px 8px;
      color:#aaa;
      content:attr(data-sample)" gave the following responses to the question:";
  }
  .search_input_container {
      margin: 0px 8px 0px 8px;
      padding: 0;
  }
  /*IVP*/
  #question_controls{
    width:300px;
    display:inline-block;
    .line{
      width:100%;
      display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
      padding-bottom:1px;
      img{
        flex-shrink:0;
        cursor:pointer;
      }
    }
    input{
      flex-grow:10;
    }
  }
  #IVP .bold{
    font-weight:bold;
    text-transform:capitalize;
    flex-grow:10;
  }
  #ivp_random{
    text-transform:capitalize;
  }
  /*GP*/
  .tabs{
      font-size:8px;
      font-weight:bold;
      display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
  	flex-wrap:nowrap;
  	.transform(translateY(1px));
      margin:0;
  	padding-top:0;
  	padding-right:4px;padding-left:4px;
  	-webkit-transition:padding-top 0.1s;transition:padding-top 0.1s;
    span{
    	border-bottom:1px solid #999;
    }
    .sides{
    	flex-grow:9999;
    }
    img{
    	-webkit-transition:width 0.1s,height 0.1s;transition:width 0.1s,height 0.1s;
        height:35px;
        width:35px;
    	margin:auto;
    	display:block;
    }
    p{
    	display:inline-block;
    	margin:0;
        font-family:Helvetica;
        text-align:center;
        cursor:pointer;
        border-width: 1px;
        border-color: #ddd #ddd #999 #ddd;
        border-style: solid;
        .border-radiuses(4px,4px,0px,0px);
        padding: 5px 6px 4px 6px;
        .grad-or-rad(#fcfcfc,#f9f9f9,#fefefe,#f5f5f5)
    }
    p:not(.open):hover{
        .grad-or-rad(#eaeaea,#ddd,#eee,#f8f8f8)
    }
    p.open{
        cursor:default;
        border-style: solid solid none solid;
        border-color: #999;
        padding: 5px 6px 5px 6px;
        background:#fff;
    }
  }
  #IVP{
    border-top:1px solid #ccc;
  }
  #GP{
    min-width:368px;
    .menus{
    	width: 100%;
    	display: inline-block;
    	border: 1px solid #999;
    	.border-radius(4px);
    	padding: 2px;
    	text-align: center;
    	min-height:10px;
      div {
      	display: none;
      	overflow: hidden;
        flex-wrap:wrap;
        span {
          padding:3px 5px;
          min-width:50px;
          background:#e8e8e8;
          .border-radius(3px);
          margin:3px;
          cursor:default;
        }
        span:hover{
          background:#bbb;
          cursor:pointer;
        }
      }
    }
    .panels>div.unloaded{
      display:none;
    }
  }
  .tabsmedresz(@maxWidth,@multiplier,@gp){
    @med:10px*@multiplier;
    @dif:35px-@med;
    @media (max-width:@maxWidth){
      .tabs{
        padding-top:@med;
        img{
          height:@dif;
          width:@dif;
        }
      }
      #GP{
        min-width:@gp;
      }
    }
  }
  .tabsmedresz(870px,1,307px);
  .tabsmedresz(635px,2,272px);
  #qnet_panel{
    display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
  }
  #qnet_sidebar{
    display:none;
    flex-direction:column;
    margin-top: 20px;
    span{
      padding:3px;
      height: 29px;
      img{
        height:29px;
        width:29px;
        cursor:pointer;
      }
    }
  }
  #gp_map_canvas{
    background-color:#fff !important;
  }
}
