//out:../css/mockup.css,compress:true
@import "mixins_lib.less";
@bodymargin:0px;
@headerpadding:8px;
@globalsidepadding:50px;
@hp:@headerpadding+@bodymargin;
@headerleftjustheight:62px;
@headerheight:85px;
@hhdif:@headerheight - @headerleftjustheight;
@verticalcenterpadding:@hhdif/2;
html,body{
  min-height:100%;
  min-width:100%;
}
body{
  margin:@bodymargin;
  font-family:verdana, sans-serif;
  background:#ccc;
  position:absolute;
  display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
  -webkit-flex-direction:column;flex-direction:column;
}
body>div{
  display:inline-block;
  div{
    display:inline-block;
  }
}
#mockup_header{
  display:block;
  height:@headerheight;
  padding:@headerpadding;
  .gradient(#26A,#39C);
  color:white;
  text-transform:uppercase;
  letter-spacing:1px;
  margin-bottom:10px;
  cursor: default;
}
#mockup_menu{
  display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
  min-width:450px;
  max-width:650px;
  width:100%;
  span{
    flex-grow:2;
  }
}
.mockup_menu_option,#mockup_credits{
  span{
    font-size:12px;
  }
}
#mockup_column_container{
  padding-top:10px;
  flex-grow:10;
  display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
  font-size:13px;
}
#mockup_column1{
  padding:0 10px 0 @globalsidepadding;
  max-width:300px;
  min-width:175px;
  div{
    display:block;
  }
}
.mockup_header{
  font-weight:bold;
  text-transform:capitalize;
  text-decoration: underline;
  padding-bottom: 20px;
}
.mockup_feature{
  padding-bottom:10px;
}
.mockup_feature_title{
  font-weight: bold;
}
#mockup_expand{
  padding-bottom:20px;
}
#mockup_column2{
  width:100%;
  margin-right:@globalsidepadding;
  display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
  flex-direction: column;
  padding-bottom:20px;
}
#mockup_core{
  flex-grow:10;
}
#mockup_column2>div{
  background:white;
  display:block;
  padding:5px;
  margin:2px;
  .border-radius(4px);
}
#mockup_comments>div>div{
  display:inline-block;
}
.mockup_comment_col2 div{
  display:block;
}
#mockup_title{
  display:block;
  font-size:27px;
  font-weight:bold;
  padding-bottom:10px;
}
.mockup_header_leftjust{
  margin-left:@globalsidepadding;
  margin-top:@verticalcenterpadding;
  width:50%;
  min-width:450px;
}
.mockup_header_rightjust{
  position:absolute;
  top:@hp;
  right:@hp+@globalsidepadding;
  div{
    display:block;
  }
}
@avatarwidth:50px;
#mockup_social_top{
  display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
  width:100%;
  max-width:700px;
  padding: 20px 0 5px;
}
#mockup_comments{
  padding:0 15px 15px;
  a{
    text-decoration: none;
    color:#09f;
    padding-right:10px;
  }
}
.mockup_comment_time,.mockup_comment_reply{
  color:#aaa;
}
#mockup_comment_box{
  flex-grow:10;
  padding-left:15px+@avatarwidth;
}
#mockup_share_buttons img{
  height:30px;
  cursor:pointer;
}
.mockup_comment_col1{
  vertical-align:top;
  padding-top:5px;
  img{
    width:@avatarwidth;
  }
}
.chosen-select{
  display:none;
}
