//out:../css/rqb.css,compress:true
@import "mixins_lib.less";
[data-module-fill="rqb"].unloaded{
  display:none;
}
[data-module-fill="rqb"]{
  cursor:pointer;
  font-size:14px;
  #rqb_overlay{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(75,75,75,0.7);
    z-index: 2;
    cursor:auto;
    #rqb_box{
      max-height:90%;
      max-width:75%;
      overflow:auto;
      display:block;
      position:fixed;
      z-index:3;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      .border-radius(5px);
      background: white;
      padding: 3px;
      color:black;
      text-transform:none;
      #rqb_header{
        display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
        text-align: center;
        span{
          padding:5px 10px;
        }
      }
      #rqb_question{
        width:100%;
        img{
          display:block;
          margin:auto;
          height:200px;
        }
        span{
          padding:10px 0 0;
          display: block;
          margin:0 30px;
        }
        background:#ccc;
        .border-radius(5px);
        padding:10px 0;
        text-align:center;
      }
    }
    #rqb_responses{
      display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
    }
    #rqb_response_list{
      margin:10px 0 10px 30px;
      flex-grow:10;
    }
    #rqb_submit_section{
      position:relative;
    }
    #rqb_submit_container{
      position:absolute;
      top:100%;
      left:0;
      .transform(translate(-100%,-100%));
      white-space:nowrap;
      padding:0 20px 10px 0;
    }
    #rqb_submit_buttons{
      display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;
      span{
        background:#ccc;
        border:1px solid #666;
        padding:5px;
        .gradient(#eee,#ddd);
        cursor:pointer;
      }
      #rqb_submit{
        .border-radiuses(5px,0,0,5px);
      }
      #rqb_submit_more{
        .border-radiuses(0,5px,5px,0);
        transform:translateX(-1px);
      }
    }
  }
}
