<div id="core">
	<div class="panel_line">
		<div class="panel" id="DVP">
			<div class="question" data-sample="Randomly selected people">
				<div class="search_input_container">
					<select data-search-loc="backend.php?function=search&text=" data-placeholder="Enter Question Here" style="display:none;" class="chosen-select" multiple>
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="results">

			</div>
			<div class="sample_data">
				<!--RELIES ON SERVER QUESTIONS. UNDER CONSTRUCTION.-->
				<button id="increase_sample">Increase</button>
				<table>
				<tr>
					<td>
						Sample Size:
					</td>
					<td class="sample_size">
						463
					</td>
				</tr>
				<tr>
					<td>
						Sample Rate:
					</td>
					<td>
						<span class="sample_increment">463</span> / <span class="sample_time_unit">Hour</span>
					</td>
				</tr>
				</table>
				<div id="inc_overlay">
					<span id="inc_box">
					<div id="inc_header">
						<span id="inc_title">Promote Investigation</span>
						<img src="i/updown.png"/><img src="i/sharelogo.png"/>
					</div>
					<div id="inc_desc">
						<input type="checkbox"/><span id="inc_desc_title">Default Descriptor</span><img src="i/help.png"/>
						<br/>
						<span id="inc_desc_def">Randomly selected men gave the following responses to the question: What do you hope will be the result of the 2016 Presidential Election?</span>
					</div>
					<div id="inc_data">
						<table>
						<tr>
							<th>
							</th>
							<th>
								Present<img src="i/help.png"/>
							</th>
							<th>
								Projected<img src="i/help.png"/>
							</th>
							<th>
								Credit Cost
							</th>
						</tr>
						<tr>
							<th>
								<img src="i/help.png"/> Max Sample Size
							</th>
							<td>
								105
							</td>
							<td>
								+15
							</td>
							<td>
								<input value="10"/>
							</td>
						</tr>
						<tr>
							<th>
								<img src="i/help.png"/> Growth Rate
							</th>
							<td>
								5.2/day
							</td>
							<td>
								8.4/day
							</td>
							<td>
								<input value="5"/>
							</td>
						</tr>
						<tr>
							<th>
								<img src="i/help.png"/> Sample Size
							</th>
							<td>
								37
							</td>
							<td>
								120 (9.9 days)
							</td>
							<td>
								15
							</td>
						</tr>
						</table>
					</div>
					<div id="inc_choice">
						<table>
						<tr>
							<td>
								<img src="i/help.png"/> Committed by users: 28
							</td>
							<td>
								<img src="i/help.png"/> Promoted by users: 82
							</td>
						</tr>
						<tr>
							<td>
								<img src="i/help.png"/> ROI: 34
							</td>
							<td>
								<img src="i/help.png"/> ROI: 204
							</td>
						</tr>
						<tr>
							<td>
								<span id="inc_commit_button">Commit 15 Credits</span>
							</td>
							<td>
								<span id="inc_promote_button">Promote 15 Credits</span>
							</td>
						</tr>
						</table>
					</div>
					</span>
				</div>
			</div>
		</div>
		<div class="panel" id="GP">
			<span class="tabs">
			<span class="sides">&nbsp;</span>
			<p id="qnet_tab">
				<img src="i/question_net.png"/>QNet
			</p>
			<span>&nbsp;</span>
			<p id="logic_tab">
				<img src="i/logic.png"/>Logic
			</p>
			<span>&nbsp;</span>
			<p id="time_tab">
				<img src="i/time.png"/>Time
			</p>
			<span>&nbsp;</span>
			<p id="sex_tab">
				<img src="i/sex.png"/>Sex
			</p>
			<span>&nbsp;</span>
			<p id="age_tab">
				<img src="i/age.png"/>Age
			</p>
			<span>&nbsp;</span>
			<p id="location_tab" class="open">
				<img src="i/location.png"/>Location
			</p>
			<span>&nbsp;</span>
			<p id="settings_tab">
				<img src="i/settings.png"/>Settings
			</p>
			<span class="sides">&nbsp;</span>
			</span>
			<span class="menus">
			<div id="qnet_menu">
				<span class="rem_qst">Remove</span>
				<span class="cln_qst">Clone</span>
				<span class="lss_lnk">Less Links</span>
				<span class="mre_lnk">More Links</span>
				<span class="edt_lbl">Edit Label</span>
				<span class="ans_qst">Answer</span>
				<span class="hde_box">Hide Box</span>
				<span class="hde_lnk">Hide Links</span>
				<span class="shw_lnk">Show Links</span>
				<span class="clr_pnl">Clear</span>
				<span class="org_box">Organize</span>
				<span class="shw_trc">Show Tracks</span>
				<span class="fnc_qst">Functionalize</span>
			</div>
			<div id="logic_menu">
			</div>
			<div id="time_menu">
			</div>
			<div id="sex_menu">
			</div>
			<div id="age_menu">
			</div>
			<div id="location_menu">
				<span class="res_inc">Res+</span>
				<span class="res_dec">Res-</span>
				<span class="col_all">Color All</span>
				<span class="col_eac">Color Each</span>
				<span class="col_maj">Color Majority</span>
			</div>
			<div id="settings_menu">
			</div>
			</span>
			<span class="panels">
			<div id="qnet_panel" class="unloaded">
				<div id="qnet_sidebar">
					<span class="add_qst"><img src="i/question.png"/></span>
					<span class="spc_trk"><img src="i/connection.png"/></span>
				</div>
				<div id="qnet_main">
					<!--RELIES ON SERVER QUESTIONS. UNDER CONSTRUCTION.-->
				</div>
			</div>
			<div id="logic_panel" class="unloaded">
				<!--RELIES ON SERVER QUESTIONS. UNDER CONSTRUCTION.-->
			</div>
			<div id="time_panel" class="unloaded">
				<!--RELIES ON SERVER QUESTIONS. UNDER CONSTRUCTION.-->
			</div>
			<div id="sex_panel" class="unloaded">
				<!--RELIES ON SERVER QUESTIONS. UNDER CONSTRUCTION.-->
			</div>
			<div id="age_panel" class="unloaded">
				<!--RELIES ON SERVER QUESTIONS. UNDER CONSTRUCTION.-->
			</div>
			<div id="location_panel" class="unloaded">
				<div id="gp_map_canvas"></div>
			</div>
			<div id="settings_panel" class="unloaded">
				<!--RELIES ON SERVER QUESTIONS. UNDER CONSTRUCTION.-->
			</div>
			</span>
		</div>
	</div>
	<div class="panel_line">
		<div class="panel" id="IVP">
			<div id="question_controls">
				<span class="line">
				<span class="bold">Question Controls</span>
				<span id="ivp_random">
				<input type="checkbox" checked/>Random Only </span>
				</span><span class="line">
				<img height="29" width="29" src="i/log.png"/>
				<select data-search-loc="backend.php?function=logicsearch&text=" data-placeholder="Default Logic" style="display:none;" class="chosen-select" multiple>
					<option value=""></option>
				</select>
				</span><span class="line">
				<img height="29" width="29" src="i/weight.png"/>
				<select data-search-loc="backend.php?function=weightingsearch&text=" data-placeholder="No Weighting" style="display:none;" class="chosen-select" multiple>
					<option value=""></option>
				</select>
				</span><span class="line">
				<img height="29" width="29" src="i/question.png"/>
				<select data-search-loc="backend.php?function=search&text=" data-placeholder="Add Independent Question" style="display:none;" class="chosen-select" multiple>
					<option value=""></option>
				</select>
				</span>
			</div>
			<div id="ivp_template" class="iv" style="display:none;" data-refchar="*">
				<table>
				<tr class="iv_question">
					<th>
						<span class="iv_title">*question*</span><span class="iv_close_button"></span>
					</th>
				</tr>
				<tr class="iv_answer_standard">
					<td>
						<span class="iv_check"><input type="checkbox"/></span>*text*
					</td>
				</tr>
				<tr class="iv_answer_drop">
					<td>
					</td>
				</tr>
				<tr class="iv_dependents">
					<td>
						<div class="dep">
							<span class="replace"></span>
						</div>
					</td>
				</tr>
				</table>
			</div>
			<span id="independent_variables"></span>
		</div>
	</div>
</div>
