<img src="i/rqb.png" height="45" width="120"/>
<div id="rqb_overlay">
  <span id="rqb_box">
    <div id="rqb_header">
      <span>Edit</span>
      <span style="flex-grow:10">Creator:&nbsp;Univ</span>
      <span>Background</span>
    </div>
    <div id="rqb_question">
      <img src="i/politics.jpg"/>
      <span id="rqb_question_text">How will you vote in the US Presidential Election in 2016?</span>
    </div>
    <div id="rqb_responses">
      <span id="rqb_response_list">
        <div class="rqb_response">
          <input name="rqb_response" type="radio"/>
          <span class="rqb_response_text">Probably Democrat</span>
        </div>
        <div class="rqb_response">
          <input name="rqb_response" type="radio"/>
          <span class="rqb_response_text">Probably Republican</span>
        </div>
        <div class="rqb_response">
          <input name="rqb_response" type="radio"/>
          <span class="rqb_response_text">I'm still undecided</span>
        </div>
        <div class="rqb_response">
          <input name="rqb_response" type="radio"/>
          <span class="rqb_response_text">I probably won't vote</span>
        </div>
      </span>
      <span id="rqb_submit_section">
        <span id="rqb_submit_container">
          <div id="rqb_submit_buttons">
            <span id="rqb_submit">Submit</span>
            <span id="rqb_submit_more">&#9660;</span>
          </div>
        </span>
      </span>
    </div>
  </span>
</div>
