.chosen-container,.chosen-container input {
	padding:initial initial initial 4px;
	font-size:14px;
	font-weight:bold;
	font-family:Arial,Helvetica,sans-serif;
	width:100% !important;
}
.chosen-drop {
	position:relative !important;
	font-size:11px;
	min-width:367px;
}
.chosen-results {
	max-height:none !important;
}
.chosen-choices {
	border:solid 1px #ddd !important;
	padding:0px 0px 0px 6px !important;
}
.chosen_search_result {
	min-height:63px;
}
.chosen_search_result img {
	padding:0px 5px 0px 1px;
	position:absolute;
}
.chosen_search_result>span {
	width:100%;
	padding-left:57px;
	display:block;
	padding-bottom:17px;
}
.chosen_search_result .sample_size,.chosen_search_result .responses {
	font-weight:lighter;
	color:#aaa;
	position:absolute;
}
.chosen_search_result .sample_size {
	right:7px;
}
.chosen_search_result .responses {
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	width:70%;
	display:block;
	left:63px;
	-webkit-transition:width 0.25s;
	transition:width 0.25s;
}
@media (max-width:830px) {
	.chosen_search_result .responses {
			width:60%;
	}
}
@media (max-width:750px) {
	.chosen_search_result .responses {
			width:50%;
	}
	.chosen-container,.chosen-container input,.chosen_search_result .question_text {
			font-size:12px;
	}
}
@media (max-width:640px) {
	.chosen_search_result .responses {
			width:40%;
	}
}
@media (max-width:540px) {
	.chosen_search_result .responses {
			width:30%;
	}
}
.chosen_search_result .question_text {
	font-size:14px;
}
.chosen_search_result.public_data .responses {
	width:60%;
}
.chosen_search_result.public_data .sample_size {
	display:none;
}
.chosen_search_result.public_data .question_text:before {
	color:#f50;
	content:"Public Data: "
}
