[data-module-fill="core"],[data-module-fill="core"] #core,[data-module-fill="core"] div {
	margin:0;
	padding:0;
	font-family:Arial,Helvetica,sans-serif;
	display:block
}
[data-module-fill="core"],[data-module-fill="core"] #core {
	display:-webkit-box !important;
	display:-webkit-flex !important;
	display:-ms-flexbox !important;
	display:flex !important
}
[data-module-fill="core"] #core {
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	min-width:100%
}
[data-module-fill="core"] .panel_line {
	white-space:nowrap;
	overflow:hidden auto;
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex
}
[data-module-fill="core"] .panel_line:first-of-type {
	-webkit-box-flex:10;
	-webkit-flex-grow:10;
	-ms-flex-positive:10;
	flex-grow:10
}
[data-module-fill="core"] .panel_line:first-of-type .panel {
	width:50% !important
}
[data-module-fill="core"] .panel {
	height:100%;
	width:inherit;
	white-space:normal;
	padding:10px;
	display:inline-block
}
[data-module-fill="core"] #DVP {
	min-width:200px
}
[data-module-fill="core"] #DVP .sample_data {
	display:none
}
[data-module-fill="core"] .question:before {
	font-size:12px;
	height:42px;
	display:table-cell;
	vertical-align:bottom;
	padding:7px 0px 7px 8px;
	color:#aaa;
	content:attr(data-sample) " gave the following responses to the question:"
}
[data-module-fill="core"] .search_input_container {
	margin:0px 8px 0px 8px;
	padding:0
}
[data-module-fill="core"] #question_controls {
	width:300px;
	display:inline-block
}
[data-module-fill="core"] #question_controls .line {
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	padding-bottom:1px
}
[data-module-fill="core"] #question_controls .line img {
	-webkit-flex-shrink:0;
	-ms-flex-negative:0;
	flex-shrink:0;
	cursor:pointer
}
[data-module-fill="core"] #question_controls input {
	-webkit-box-flex:10;
	-webkit-flex-grow:10;
	-ms-flex-positive:10;
	flex-grow:10
}
[data-module-fill="core"] #IVP .bold {
	font-weight:bold;
	text-transform:capitalize;
	-webkit-box-flex:10;
	-webkit-flex-grow:10;
	-ms-flex-positive:10;
	flex-grow:10
}
[data-module-fill="core"] #ivp_random {
	text-transform:capitalize
}
[data-module-fill="core"] .tabs {
	font-size:8px;
	font-weight:bold;
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-wrap:nowrap;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	-webkit-transform:translateY(1px);
	-moz-transform:translateY(1px);
	-ms-transform:translateY(1px);
	-o-transform:translateY(1px);
	margin:0;
	padding-top:0;
	padding-right:4px;
	padding-left:4px;
	-webkit-transition:padding-top .1s;
	transition:padding-top .1s
}
[data-module-fill="core"] .tabs span {
	border-bottom:1px solid #999
}
[data-module-fill="core"] .tabs .sides {
	-webkit-box-flex:9999;
	-webkit-flex-grow:9999;
	-ms-flex-positive:9999;
	flex-grow:9999
}
[data-module-fill="core"] .tabs img {
	-webkit-transition:width 0.1s,height 0.1s;
	transition:width 0.1s,height 0.1s;
	height:35px;
	width:35px;
	margin:auto;
	display:block
}
[data-module-fill="core"] .tabs p {
	display:inline-block;
	margin:0;
	font-family:Helvetica;
	text-align:center;
	cursor:pointer;
	border-width:1px;
	border-color:#ddd #ddd #999 #ddd;
	border-style:solid;
	-webkit-border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topright:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-topleft:0;
	border-top-right-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:0;
	border-top-left-radius:0;
	background-clip:padding-box;
	padding:5px 6px 4px 6px;
	background:#f9f9f9;
	background:-webkit-gradient(linear,left top,right top,color-stop(0,#f9f9f9),color-stop(50%,#fcfcfc),color-stop(100%,#f9f9f9));
	background:-webkit-linear-gradient(left,#f9f9f9 0,#fcfcfc 50%,#f9f9f9 100%);
	background:linear-gradient(to right,#f9f9f9 0,#fcfcfc 50%,#f9f9f9 100%);
	background:-webkit-radial-gradient(circle farthest-side,#fefefe,#f5f5f5);
	background:radial-gradient(circle farthest-side,#fefefe,#f5f5f5)
}
[data-module-fill="core"] .tabs p:not(.open):hover {
	background:#ddd;
	background:-webkit-gradient(linear,left top,right top,color-stop(0,#ddd),color-stop(50%,#eaeaea),color-stop(100%,#ddd));
	background:-webkit-linear-gradient(left,#ddd 0,#eaeaea 50%,#ddd 100%);
	background:linear-gradient(to right,#ddd 0,#eaeaea 50%,#ddd 100%);
	background:-webkit-radial-gradient(circle farthest-side,#eee,#f8f8f8);
	background:radial-gradient(circle farthest-side,#eee,#f8f8f8)
}
[data-module-fill="core"] .tabs p.open {
	cursor:default;
	border-style:solid solid none solid;
	border-color:#999;
	padding:5px 6px 5px 6px;
	background:#fff
}
[data-module-fill="core"] #IVP {
	border-top:1px solid #ccc
}
[data-module-fill="core"] #GP {
	min-width:368px
}
[data-module-fill="core"] #GP .menus {
	width:100%;
	display:inline-block;
	border:1px solid #999;
	border-radius:4px;
	background-clip:padding-box;
	padding:2px;
	text-align:center;
	min-height:10px
}
[data-module-fill="core"] #GP .menus div {
	display:none;
	overflow:hidden;
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap
}
[data-module-fill="core"] #GP .menus div span {
	padding:3px 5px;
	min-width:50px;
	background:#e8e8e8;
	border-radius:3px;
	background-clip:padding-box;
	margin:3px;
	cursor:default
}
[data-module-fill="core"] #GP .menus div span:hover {
	background:#bbb;
	cursor:pointer
}
[data-module-fill="core"] #GP .panels>div.unloaded {
	display:none
}
@media (max-width:870px) {
	[data-module-fill="core"] .tabs {
		padding-top:10px
	}
	[data-module-fill="core"] .tabs img {
		height:25px;
		width:25px
	}
	[data-module-fill="core"] #GP {
		min-width:307px
	}
}
@media (max-width:635px) {
	[data-module-fill="core"] .tabs {
		padding-top:20px
	}
	[data-module-fill="core"] .tabs img {
		height:15px;
		width:15px
	}
	[data-module-fill="core"] #GP {
		min-width:272px
	}
}
[data-module-fill="core"] #qnet_panel {
	display:-webkit-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex
}
[data-module-fill="core"] #qnet_sidebar {
	display:none;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	margin-top:20px
}
[data-module-fill="core"] #qnet_sidebar span {
	padding:3px;
	height:29px
}
[data-module-fill="core"] #qnet_sidebar span img {
	height:29px;
	width:29px;
	cursor: pointer
}
